*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', 'sans-serif';
    box-sizing: border-box;
}
main{
    display: grid;
}
.column{
    justify-self: center;
    box-shadow: 0px 0px 200px 2px rgb(0, 0, 0, 0.2);
    padding: 30px;
    transition: 0.28s;
    max-width: calc(38vw + 400px);
    @media(max-width: 740px){
        width: 100vw;
    }
}
.main-section{
    min-height: 100dvh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.main-section p{
    font-size: clamp(13px, 10px + 0.8vw, 22px);
}
.default-header{
    font-size: clamp(18px, 12px + 1.8vw, 34px)
}
.default-paragraph{
    border: solid black 2px;
    border-radius: 4px;
    padding: 20px;
    font-size: 22px;
}
.header{
    display: grid;
    height: calc(100vh - 64px);
}
.header-headline{
    align-self: center;
    justify-self: center;
    position: absolute;
    color: white;
    font-size: 60px;
}
#header-bg-img{
    width: 100dvw;
}


.educacion{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 60px;
    align-content: center;
}
.educacion h1{
    justify-self: center;
    grid-column: 1/-1
}
.educacion p{
    grid-column: 2/13;
    justify-self: center;
    width: 90%;
    @media(max-width: 650px){
        width: 90dvw;
    }
}


.personal{
    display: grid;
    justify-items: center;
    align-content: center;
}
.personal h1{
    justify-self: center;
    margin-bottom: 140px;
}
.personal-wrapper{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, auto);
    @media(max-width: 600px){
        grid-template-rows: repeat(12, auto);            
    }
}
.personal-p-1{
    text-align: right;
    grid-row: 1/8;
    grid-column: 7/13;
    padding-bottom: 30px;
    padding-left: 30px;
    
    @media(max-width: 700px){
        grid-column: 7/14;
    }
    @media(max-width: 600px){
        grid-column: 5/14;
        grid-row: 1/7;
        padding: 20px;
    }
    @media(max-width: 500px){
        grid-column: 3/14;
        grid-row: 1/7;
        margin-bottom: 12px;
    }
}
.personal-p-2{
    grid-column: 2/8;
    grid-row: 7/13;
    background-color: white;
    
    @media(max-width: 700px){
        grid-column: 1/8;
    }
    @media(max-width: 600px){
        grid-column: 1/10;
        grid-row: 7/13
    }
    @media(max-width: 500px){
        grid-column: 1/12;
        grid-row: 7/13
    }
}

.aprendizaje{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 40px;
}
.aprendizaje h1{
    justify-self: center;
}
#btn-other-half{
    border: black solid 2px;
    border-radius: 10px;
    color: black;
    position: relative;
    justify-self: center;
    padding: 8px;
    width: auto;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s;
}
#btn-other-half:hover{
    background-color: black;
    color: white;
    box-shadow: 1.6px 1.6px 10px 1px rgba(0, 0, 0, 0.44);
}


.ropero{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 50px;
}
.ropero h1{
    justify-self: center;
}
#shop-btn{
    border: black solid 2px;
    border-radius: 10px;
    color: black;
    position: relative;
    justify-self: center;
    padding: 6px 10px 6px 10px;
    width: auto;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s;
}
#shop-btn:hover{
    background-color: black;
    color: white;
    box-shadow: 1.6px 1.6px 10px 1px rgba(0, 0, 0, 0.44);
}


#redes{
    display: grid;
    grid-template-rows: repeat(4, 100px);
    gap: 40px;
    justify-content: center;
    align-content: center;
}
.blog h1{
    text-align: center;
}
.instagram{
    display: grid;
    grid-template-columns: auto 80px;
    align-items: center;
    gap: 1fr;
    width: clamp(280px, 200px + 18vw, 450px)
}
.instagram h1{
    justify-self: left;
    cursor: pointer;
    z-index: 2;
}
#ig-logo{
    justify-self: right;
    height: 80px;
    width: auto;    
}
.hover-bg-ig {
  background: linear-gradient(to right, rgb(81, 91, 212), rgb(129, 52, 175), rgb(221, 42, 123), rgb(254, 218, 119), rgb(245, 133, 41));
  position: absolute;
  height: 50px;
  left: 100%;
  transition: 0.2s;
  opacity: 1;
  width: 8%;
  cursor: pointer;
}
.instagram:hover .hover-bg-ig {
    width: 520px;
    left: calc(50% - 260px);    
}
.instagram:not(:hover) .hover-bg-ig{
    left: 100%;
    transition: 0.22s;
    background: linear-gradient(to right, rgb(81, 91, 212), rgb(129, 52, 175), rgb(221, 42, 123), rgb(254, 218, 119), rgb(245, 133, 41));
    opacity: 1;
}

.youtube{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1fr;
    grid-template-rows: 80px;
}
.youtube h1{
    justify-self: right;
    z-index: 2;
    cursor: pointer;
}
.youtube a{
    height: 80px;
    width: 110px;
}
#yt-logo{
    height: 80px;
    width: 110px;
    z-index: 2;
    justify-self: left;
}
.hover-bg-yt {
    background-color: rgb(255, 0, 0);
    position: absolute;
    height: 50px;
    right: 100%;
    transition: 0.2s;
    width: 8%;
    cursor: pointer;
}
.youtube:hover .hover-bg-yt {
    width: 520px;
    right: calc(50% - 260px);  
}
.youtube:not(:hover) .hover-bg-yt{
    right: 100%;
    transition: 0.22s;
    background-color: rgb(255, 0, 0);
}


.twitter{
    display: grid;
    grid-template-columns: auto 81px;
    align-items: center;
    gap: 1fr;
}
.twitter h1{
    justify-self: left;
    cursor: pointer;
    z-index: 2;
}
.twitter a{
    height: 80px;
    width: 80px;
}
.twitter a *{
    height: 80px !important;
    width: 80px !important;
}
#x-logo{
    height: 80px;
    width: auto;
    justify-self: right;
}
.hover-bg-x {
    background-color: rgb(8, 160, 233);
    position: absolute;
    height: 50px;
    left: 100%;
    transition: 0.2s;
    width: 8%;
    cursor: pointer;
}
.twitter:hover .hover-bg-x{
    width: 520px;
    left: calc(50% - 260px);    
}
.twitter:not(:hover) .hover-bg-x{
    right: 100%;
    transition: 0.22s;
}

#mentores{
    height: auto;
    transition: 0.3s;
    @media (max-width: 600px) {
        grid-gap: 30px;
    }
    @media(min-width: 600px){
        display: grid;
        grid-column-gap: 32px;
        grid-row-gap: 50px;
        justify-content: center;
        grid-template-rows: repeat(auto-fill, auto);
        grid-template-columns: repeat(auto-fill, 220px);
    }
}
#mentores h1{
    justify-self: center;
    margin: 78px 0 40px 0;
    grid-column: 1/-1;
}

.marco-default-mentores{
    display: grid;
    grid-template-rows: 140px auto;
    width: 220px;
    border: solid black 4px;
    border-radius: 12px;
    font-size: 20px;
    box-shadow: 1.6px 1.6px 10px 1px rgba(0, 0, 0, 0.24);
    @media (max-width: 599px) {
        width: 60vw;
    }
}
/* @media (min-width: 1011px){
    .marco-default-mentores:last-child{grid-column: 2/3;}
}
@media (min-width: 1674px){
    .marco-default-mentores:nth-last-child(2){grid-column:2/3;}
    .marco-default-mentores:last-child{grid-column: 3/4;}
} */
.img-m{
    border-radius: 10px 10px 0px 0px;
    height: auto;
    width: auto;
    z-index: -4;
    border-bottom: solid 2px black;
}
.marco-default-mentores h2{
    padding: 4px 12px 0 12px;
}
.marco-default-mentores p{
    padding: 4px 12px 12px 12px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2.8s ease, transform 2.8s ease;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}